<div class="form-section">
  <div class="container">
    <div class="row">
      <div class="col col-8 mx-auto">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sign in</h5>
            <form #drivenForm="ngForm" novalidate>
              <input
                type="email"
                name="email"
                placeholder="Enter your email"
                class="form-control mt-4"
                ngModel
                #email="ngModel"
                required
                email
                pattern="[a-zA-Z0-9_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}"
              />
              <div
                [hidden]="email.valid || email.untouched"
                class="alert alert-danger"
              >
                Enter valid email
              </div>
              <input
                type="password"
                name="password"
                placeholder="Enter your password"
                class="form-control mt-4"
                ngModel
                #password="ngModel"
                required
                minlength="8"
                maxlength="15"
              />
              <div
                [hidden]="password.valid || password.untouched"
                class="alert alert-danger"
              >
                Enter valid password. Password length must be from 8 to 15
              </div>
              <button
                type="submit"
                class="btn btn-primary mt-4"
                [disabled]="email.invalid || password.invalid"
                (click)="onSubmit(drivenForm)"
              >
                Sign in
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
