<header class="header">
  <div class="container">
    <div class="heading">
      <a [routerLink]="['/']"><h1>Angular Forms</h1></a>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list-item">
          <a [routerLink]="['/']" class="nav__list-link">Reactive-form</a>
        </li>
        <li class="nav__list-item">
          <a [routerLink]="['/driven']" class="nav__list-link"
            >Template-driven</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
