.header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #343a40;
  color: #f2ffff;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .heading {
    line-height: 50px;
    h1 {
      font-size: 35px;
    }
    a {
      color: #f2ffff;
      text-decoration: none;
    }
  }
  .nav {
    height: 100%;
    &__list {
      display: flex;
      align-items: center;
      list-style-type: none;
      height: 100%;
      &-item {
        display: flex;
        align-items: center;
        line-height: 50px;
        font-size: 20px;
        &:first-child {
          margin-right: 15px;
        }
      }
      &-link {
        display: block;
        height: 100%;
        text-decoration: none;
        color: #96989d;

        &:hover {
          color: #f2ffff;
          transition: all 0.5s;
        }
      }
    }
  }
}
